# lab-predictions-logistic-regression

In this lab, you will be using the Sakila database of movie rentals.

In order to optimize our inventory, we would like to know which films will be rented. We are asked to create a model to predict it. So we use the information we have from May 2005 to create the model.

## Instructions

1.- Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features (X).

In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [6]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

In [7]:
data_film = pd.read_sql_table("film", engine)
display(data_film.head(50))
data_inventory = pd.read_sql_table("inventory", engine)
display(data_inventory.head())
data_rental = pd.read_sql_table("rental", engine)
display(data_rental.head())
data_film_category = pd.read_sql_table("film_category", engine)
display(data_film_category.head())
data_category = pd.read_sql_table("category", engine)
display(data_category.head())

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"{Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,{Deleted Scenes},2006-02-15 05:03:42
5,6,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,None,3,2.99,169,17.99,PG,{Deleted Scenes},2006-02-15 05:03:42
6,7,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,1,None,6,4.99,62,28.99,PG-13,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
7,8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Con...,2006,1,None,6,4.99,54,15.99,R,{Trailers},2006-02-15 05:03:42
8,9,ALABAMA DEVIL,A Thoughtful Panorama of a Database Administra...,2006,1,None,3,2.99,114,21.99,PG-13,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
9,10,ALADDIN CALENDAR,A Action-Packed Tale of a Man And a Lumberjack...,2006,1,None,6,4.99,63,24.99,NC-17,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
10,11,ALAMO VIDEOTAPE,A Boring Epistle of a Butler And a Cat who mus...,2006,1,None,6,0.99,126,16.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 05:03:42
11,12,ALASKA PHANTOM,A Fanciful Saga of a Hunter And a Pastry Chef ...,2006,1,None,6,0.99,136,22.99,PG,"{Commentaries, Deleted Scenes}",2006-02-15 05:03:42
12,13,ALI FOREVER,A Action-Packed Drama of a Dentist And a Croco...,2006,1,None,4,4.99,150,21.99,PG,"{Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
13,14,ALICE FANTASIA,A Emotional Drama of a A Shark And a Database ...,2006,1,None,6,0.99,94,23.99,NC-17,"{Trailers, Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
14,15,ALIEN CENTER,A Brilliant Drama of a Cat And a Mad Scientist...,2006,1,None,5,2.99,46,10.99,NC-17,"{Commentaries, Trailers, Behind the Scenes}",2006-02-15 05:03:42
15,16,ALLEY EVOLUTION,A Fast-Paced Drama of a Robot And a Composer w...,2006,1,None,6,2.99,180,23.99,NC-17,"{Commentaries, Trailers}",2006-02-15 05:03:42
16,17,ALONE TRIP,A Fast-Paced Character Study of a Composer And...,2006,1,None,3,0.99,82,14.99,R,"{Trailers, Behind the Scenes}",2006-02-15 05:03:42
17,18,ALTER VICTORY,A Thoughtful Drama of a Composer And a Feminis...,2006,1,None,6,0.99,57,27.99,PG-13,"{Trailers, Behind the Scenes}",2006-02-15 05:03:42
18,19,AMADEUS HOLY,A Emotional Display of a Pioneer And a Technic...,2006,1,None,6,0.99,113,20.99,PG,"{Commentaries, Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
19,20,AMELIE HELLFIGHTERS,A Boring Drama of a Woman And a Squirrel who m...,2006,1,None,4,4.99,79,23.99,R,"{Commentaries, Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
20,21,AMERICAN CIRCUS,A Insightful Drama of a Girl And a Astronaut w...,2006,1,None,3,4.99,129,17.99,R,"{Commentaries, Behind the Scenes}",2006-02-15 05:03:42
21,22,AMISTAD MIDSUMMER,A Emotional Character Study of a Dentist And a...,2006,1,None,6,2.99,85,10.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 05:03:42
22,23,ANACONDA CONFESSIONS,A Lacklusture Display of a Dentist And a Denti...,2006,1,None,3,0.99,92,9.99,R,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
23,24,ANALYZE HOOSIERS,A Thoughtful Display of a Explorer And a Pastr...,2006,1,None,6,2.99,181,19.99,R,"{Trailers, Behind the Scenes}",2006-02-15 05:03:42
24,25,ANGELS LIFE,A Thoughtful Display of a Woman And a Astronau...,2006,1,None,3,2.99,74,15.99,G,{Trailers},2006-02-15 05:03:42
25,26,ANNIE IDENTITY,A Amazing Panorama of a Pastry Chef And a Boat...,2006,1,None,3,0.99,86,15.99,G,"{Commentaries, Deleted Scenes}",2006-02-15 05:03:42
26,27,ANONYMOUS HUMAN,A Amazing Reflection of a Database Administrat...,2006,1,None,7,0.99,179,12.99,NC-17,"{Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
27,28,ANTHEM LUKE,A Touching Panorama of a Waitress And a Woman ...,2006,1,None,5,4.99,91,16.99,PG-13,"{Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
28,29,ANTITRUST TOMATOES,A Fateful Yarn of a Womanizer And a Feminist w...,2006,1,None,5,2.99,168,11.99,NC-17,"{Commentaries, Trailers, Deleted Scenes}",2006-02-15 05:03:42
29,30,ANYTHING SAVANNAH,A Epic Story of a Pastry Chef And a Woman who ...,2006,1,None,4,2.99,82,27.99,R,"{Trailers, Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
30,31,APACHE DIVINE,A Awe-Inspiring Reflection of a Pastry Chef An...,2006,1,None,5,4.99,92,16.99,NC-17,"{Commentaries, Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
31,32,APOCALYPSE FLAMINGOS,A Astounding Story of a Dog And a Squirrel who...,2006,1,None,6,4.99,119,11.99,R,"{Commentaries, Trailers}",2006-02-15 05:03:42
32,33,APOLLO TEEN,A Action-Packed Reflection of a Crocodile And ...,2006,1,None,5,2.99,153,15.99,PG-13,"{Commentaries, Trailers, Deleted Scenes, Behin...",2006-02-15 05:03:42
33,34,ARABIA DOGMA,A Touching Epistle of a Madman And a Mad Cow w...,2006,1,None,6,0.99,62,29.99,NC-17,"{Commentaries, Deleted Scenes}",2006-02-15 05:03:42
34,35,ARACHNOPHOBIA ROLLERCOASTER,A Action-Packed Reflection of a Pastry Chef An...,2006,1,None,4,2.99,147,24.99,PG-13,"{Trailers, Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
35,36,ARGONAUTS TOWN,A Emotional Epistle of a Forensic Psychologist...,2006,1,None,7,0.99,127,12.99,PG-13,"{Commentaries, Trailers}",2006-02-15 05:03:42
36,37,ARIZONA BANG,A Brilliant Panorama of a Mad Scientist And a ...,2006,1,None,3,2.99,121,28.99,PG,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
37,38,ARK RIDGEMONT,A Beautiful Yarn of a Pioneer And a Monkey who...,2006,1,None,6,0.99,68,25.99,NC-17,"{Commentaries, Trailers, Deleted Scenes, Behin...",2006-02-15 05:03:42
38,39,ARMAGEDDON LOST,A Fast-Paced Tale of a Boat And a Teacher who ...,2006,1,None,5,0.99,99,10.99,G,{Trailers},2006-02-15 05:03:42
39,40,ARMY FLINTSTONES,A Boring Saga of a Database Administrator And ...,2006,1,None,4,0.99,148,22.99,R,"{Commentaries, Trailers}",2006-02-15 05:03:42
40,41,ARSENIC INDEPENDENCE,A Fanciful Documentary of a Mad Cow And a Woma...,2006,1,None,4,0.99,137,17.99,PG,"{Trailers, Deleted Scenes, Behind the Scenes}",2006-02-15 05:03:42
41,42,ARTIST COLDBLOODED,A Stunning Reflection of a Robot And a Moose w...,2006,1,None,5,2.99,170,10.99,NC-17,"{Trailers, Behind the Scenes}",2006-02-15 05:03:42
42,43,ATLANTIS CAUSE,A Thrilling Yarn of a Feminist And a Hunter wh...,2006,1,None,6,2.99,170,15.99,G,{Behind the Scenes},2006-02-15 05:03:42
43,44,ATTACKS HATE,A Fast-Paced Panorama of a Technical Writer An...,2006,1,None,5,4.99,113,21.99,PG-13,"{Trailers, Behind the Scenes}",2006-02-15 05:03:42
44,45,ATTRACTION NEWTON,A Astounding Panorama of a Composer And a Fris...,2006,1,None,5,4.99,83,14.99,PG-13,"{Trailers, Behind the Scenes}",2006-02-15 05:03:42
45,46,AUTUMN CROW,A Beautiful Tale of a Dentist And a Mad Cow wh...,2006,1,None,3,4.99,108,13.99,G,"{Commentaries, Trailers, Deleted Scenes, Behin...",2006-02-15 05:03:42
46,47,BABY HALL,A Boring Character Study of a A Shark And a Gi...,2006,1,None,5,4.99,153,23.99,NC-17,{Commentaries},2006-02-15 05:03:42
47,48,BACKLASH UNDEFEATED,A Stunning Character Study of a Mad Scientist ...,2006,1,None,3,4.99,118,24.99,PG-13,"{Trailers, Behind the Scenes}",2006-02-15 05:03:42
48,49,BADMAN DAWN,A Emotional Panorama of a Pioneer And a Compos...,2006,1,None,6,2.99,162,22.99,R,"{Commentaries, Trailers, Behind the Scenes}",2006-02-15 05:03:42
49,50,BAKED CLEOPATRA,A Stunning Drama of a Forensic Psychologist An...,2006,1,None,3,2.99,182,20.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 05:03:42

/Users/marina/anaconda3/lib/python3.11/site-packages/pandas/io/sql.py:1627: SAWarning: Did not recognize type 'geometry' of column 'location'
  self.meta.reflect(bind=self.con, only=[table_name])

   inventory_id  film_id  store_id         last_update
0             1        1         1 2006-02-15 05:09:17
1             2        1         1 2006-02-15 05:09:17
2             3        1         1 2006-02-15 05:09:17
3             4        1         1 2006-02-15 05:09:17
4             5        1         2 2006-02-15 05:09:17

/Users/marina/anaconda3/lib/python3.11/site-packages/pandas/io/sql.py:1627: SAWarning: Did not recognize type 'geometry' of column 'location'
  self.meta.reflect(bind=self.con, only=[table_name])

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

   film_id  category_id         last_update
0        1            6 2006-02-15 05:07:09
1        2           11 2006-02-15 05:07:09
2        3            6 2006-02-15 05:07:09
3        4           11 2006-02-15 05:07:09
4        5            8 2006-02-15 05:07:09

   category_id       name         last_update
0            1     Action 2006-02-15 04:46:27
1            2  Animation 2006-02-15 04:46:27
2            3   Children 2006-02-15 04:46:27
3            4   Classics 2006-02-15 04:46:27
4            5     Comedy 2006-02-15 04:46:27

2.- Create a query to get the list of all unique film titles and a boolean indicating if it was rented (rental_date) in May 2005. (Create new column called - 'rented_in_may'). This will be our TARGET (y) variable.

In [8]:
-Why do you pick the current features?

Object `features` not found.

In [9]:
"""
sakila.rental: rental_id, rental_date, name, inventory_id, customer_id
sakila.inventory: inventory_id, film_id
sakila.film: film_id, title, release_year, length, rating
sakila.category: category_id, name
sakila.film_category: film_id, category_id
"""

query = '''
    SELECT
      length, release_year, language_id, rating,
      CASE
        WHEN EXISTS (
          SELECT 1
          from rental as r
        join inventory as i
        on r.inventory_id = i.inventory_id
        join film as f
        on f.film_id = i.inventory_id
          AND MONTH(rental_date) = 5
          AND YEAR(rental_date) = 2005
        ) THEN TRUE
        ELSE FALSE
      END AS rented_in_may
    FROM film;
'''

3.- Read the data into a Pandas dataframe. At this point you should have 1000 rows. Number of columns depends on the number of features you chose.

In [10]:
df = pd.read_sql_query(query, engine)
display(df.head())
display(df.shape)

   length  release_year  language_id rating  rented_in_may
0      86          2006            1     PG              1
1      48          2006            1      G              1
2      50          2006            1  NC-17              1
3     117          2006            1      G              1
4     130          2006            1      G              1

(1000, 5)

4.- Analyze extracted features (X) and transform them. You may need to encode some categorical variables, or scale numerical variables.

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [12]:
# Numerical Features
# length
# release_year
# language_id

# Categorical Features
# title
# rating
# rental_in_may

In [13]:
#Look for missing data
df.isna().sum()

length           0
release_year     0
language_id      0
rating           0
rented_in_may    0
dtype: int64

In [14]:
df.dtypes

length            int64
release_year      int64
language_id       int64
rating           object
rented_in_may     int64
dtype: object

### Split X/y

In [15]:
#separate the features from the labels

X = df[['length','release_year','language_id', 'rating']] # X= df.drop("rented_in_may", axis=1)
y = df['rented_in_may']

X.head()

   length  release_year  language_id rating
0      86          2006            1     PG
1      48          2006            1      G
2      50          2006            1  NC-17
3     117          2006            1      G
4     130          2006            1      G

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=50)

In [30]:
# X_train, X_test and X_new have the same amount of columns.
# We can use this information when we create the Pandas DataFram

X_train_df = pd.DataFrame(X_train, columns = X.columns, index=X_train.index)
X_test_df  = pd.DataFrame(X_test,  columns = X.columns, index=X_test.index)

In [31]:
X_train_num = X_train_df.select_dtypes(include = np.number) 
X_test_num  = X_test_df.select_dtypes(include = np.number)

X_train_cat = X_train_df.select_dtypes('object')
X_test_cat  = X_test_df.select_dtypes('object')

### NUMERICAL columns

In [32]:
import pickle
from sklearn.preprocessing import PowerTransformer

power = PowerTransformer()

power.fit(X_train_num)

path = "./"
transformer_file_name = "power_transfomer_num.pkl"

with open(path + transformer_file_name, "wb") as file:
    pickle.dump(power, file)

X_train_power = power.transform(X_train_num) # .transform() applies the transformation x_normalized will be np.array
X_test_power  = power.transform(X_test_num) # .transform() applies the transformation x_normalized will be np.array

# We create new Pandas DataFrames out of the Numpy arrays.
X_train_power_df = pd.DataFrame(X_train_power, columns=X_train_num.columns)
X_train_power_df = pd.DataFrame(X_test_power,  columns=X_test_num.columns)

X_train_power_df.head()

     length  release_year  language_id
0  0.806207           0.0          0.0
1  1.468208           0.0          0.0
2  0.437456           0.0          0.0
3  0.530795           0.0          0.0
4 -0.341769           0.0          0.0

In [33]:
X_train_power_df.describe().T

,count,mean,std,min,25%,50%,75%,max
length,250.0,-0.057956,0.99664,-1.823131,-0.94014,-0.02992,0.800532,1.596608
release_year,250.0,0.000000,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000
language_id,250.0,0.000000,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000

In [34]:
# Scale numerical variables
import pickle
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(X_train_df)

path = "./"
scaler_file_name = "standard_scaler_num.pkl"

with open(path + scaler_file_name, "wb") as file:
    pickle.dump(scaler, file)

X_train_scaler = scaler.transform(X_train_df) # .transform() applies the transformation x_normalized will be np.array
X_test_scaler  = scaler.transform(X_test_df) # .transform() applies the transformation x_normalized will be np.array

# We create new Pandas DataFrames out of the Numpy arrays.
X_train_scaler_df = pd.DataFrame(X_train_scaler, columns=X_num.columns)
X_train_scaler_df = pd.DataFrame(X_test_scaler,  columns=X_num.columns)

X_train_scaler_df.head()

ValueError: could not convert string to float: 'R'

### CATEGORICAL columns

In [22]:
from sklearn.preprocessing import OneHotEncoder

In [23]:
X_train_cat = X_train.select_dtypes('object')
X_test_cat  = X_test.select_dtypes('object')

X_train_cat.head()
display(X_train_cat.head())

    rating
651      R
492      R
210  PG-13
220      R
458  NC-17

In [24]:
#categories_values = [list(data[col].unique()) for col in X_train_categorical.columns]
#levels = [ [], [], ] # color (R,G,B,Y); train(R,G,B)
encoder = OneHotEncoder(drop='first')
encoder.fit(X_train_cat)

X_train_cat_np = encoder.transform(X_train_cat).toarray()
X_test_cat_np  = encoder.transform(X_test_cat).toarray()

display(X_train_cat_np)
X_train_cat_encoded = pd.DataFrame(X_train_cat_np, columns=encoder.get_feature_names_out(), 
                           index=X_train_cat.index)
X_test_cat_encoded  = pd.DataFrame(X_test_cat_np,  columns=encoder.get_feature_names_out(),
                          index=X_test_cat.index)
display(X_train_cat_encoded)

array([[0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       ...,
       [0., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.]])

     rating_NC-17  rating_PG  rating_PG-13  rating_R
651           0.0        0.0           0.0       1.0
492           0.0        0.0           0.0       1.0
210           0.0        0.0           1.0       0.0
220           0.0        0.0           0.0       1.0
458           1.0        0.0           0.0       0.0
..            ...        ...           ...       ...
289           0.0        1.0           0.0       0.0
109           1.0        0.0           0.0       0.0
907           0.0        0.0           0.0       0.0
480           0.0        1.0           0.0       0.0
688           0.0        1.0           0.0       0.0

[750 rows x 4 columns]

In [25]:
# pd.concat() 
X_train_transformed_df = pd.concat([X_train_num, X_train_cat], axis=1)
# pd.concat()
X_test_transformed_df = pd.concat([X_train_num, X_train_cat], axis=1)

display(X_train_transformed_df)
display(X_test_transformed_df)

     length  release_year  language_id rating
651     126          2006            1      R
492      92          2006            1      R
210     165          2006            1  PG-13
220     100          2006            1      R
458      74          2006            1  NC-17
..      ...           ...          ...    ...
289     163          2006            1     PG
109      53          2006            1  NC-17
907     110          2006            1      G
480      58          2006            1     PG
688     137          2006            1     PG

[750 rows x 4 columns]

     length  release_year  language_id rating
651     126          2006            1      R
492      92          2006            1      R
210     165          2006            1  PG-13
220     100          2006            1      R
458      74          2006            1  NC-17
..      ...           ...          ...    ...
289     163          2006            1     PG
109      53          2006            1  NC-17
907     110          2006            1      G
480      58          2006            1     PG
688     137          2006            1     PG

[750 rows x 4 columns]

In [26]:
X_train_transformed_df.describe()

           length  release_year  language_id
count  750.000000         750.0        750.0
mean   115.864000        2006.0          1.0
std     40.527136           0.0          0.0
min     46.000000        2006.0          1.0
25%     81.250000        2006.0          1.0
50%    115.000000        2006.0          1.0
75%    150.000000        2006.0          1.0
max    185.000000        2006.0          1.0

5.- Create a logistic regression model to predict 'rented_in_may' from the cleaned data.

In [35]:
from sklearn.linear_model import LogisticRegression

classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='multinomial')

classification.fit(X_train_transformed_df, y_train)

ValueError: could not convert string to float: 'R'

In [36]:
# Now we can make predictions on the test set:
from sklearn.metrics import accuracy_score

y_test_pred = classification.predict(X_test_transformed_df)
print(y_test_pred)

print(accuracy_score(y_test,y_test_pred))

classification.score(X_test_transformed_df, y_test) # Accuracy for classification models and R2 for regression mnodels

ValueError: could not convert string to float: 'R'

In [37]:
print(y_test.value_counts())
# As you would notice here, there is a huge imbalance in the data among the different classes. 
# We will talk more about imbalance and how to resolve it later (tomorrow)

rented_in_may
1    250
Name: count, dtype: int64

6.- Evaluate the results.

In [ ]:
use "classification"